.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.info {
  font-size: 2em;
  margin: 5px;
}

.app-label {
  margin-right: 5px;
}

.app-input {
  margin-left: 5px;
  margin-right: 5px;
}

.error {
  color: red;
  font-size: 1.5em;
}

.true {
  border-color: red;
}
